<mat-drawer-container *ngIf="pageIsReady" autosize class='main-container'>
  <mat-drawer #drawer opened class="split left" mode="side">
    <div>
      <mat-list>
        <mat-card class="header-card">
          Points positifs
          <button (click)='addgood()' class='add-button' matTooltip="nouveau" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </mat-card>
        <div *ngIf="isAddingGood">
          <app-point-form [isGood]="true" [catId]='catId' (submitForm)="submitAddPoint($event)"></app-point-form>
        </div>
        <mat-grid-list [cols]="nbCol" rowHeight="60px">
          <mat-grid-tile *ngFor="let goodItem of goodItems let j = index">
            <mat-list-item>
              <app-space-check-box [post]='goodItem' [checked]='goodTab[j]' (addPost)='add($event)' (removePost)='remove($event)'></app-space-check-box>
            </mat-list-item>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-list>
      <mat-list>
        <mat-card class="header-card">
          Points négatif
          <button (click)='addBad()' class='add-button' matTooltip="nouveau" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </mat-card>
        <div *ngIf="isAddingbad">
          <app-point-form [isGood]="false" [catId]='catId' (submitForm)="submitAddPoint($event)"></app-point-form>
        </div>
        <mat-grid-list [cols]="nbCol" rowHeight="60px">
          <mat-grid-tile *ngFor="let badItem of badItems let i = index">
            <mat-list-item>
              <app-space-check-box [post]='badItem' [checked]='badTab[i]'  (addPost)='add($event)' (removePost)='remove($event)'></app-space-check-box>
            </mat-list-item>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-list>
    </div>
  </mat-drawer>
  <mat-drawer-content class="right">
    <div class="box_astronaut">
      <img class="object_astronaut" src="../../../assets/astro.png" width="110px">
    </div>
    <div class='list'>
      <mat-card *ngIf='start' class="box firstBox" matRipple (click)='editBorder(start.name)'>
        <div *ngIf='isnotEditingBorder[0] ,else inputStart'>{{start?.description}}</div>
        <ng-template #inputStart>
          <mat-form-field class='fullInput'>
            <textarea autoFocus (blur)='endEditBorder(start.name)' matInput [(ngModel)]="start.description"></textarea>
          </mat-form-field>
        </ng-template>
        <div class='moveIcon'>
          <mat-icon class='moveIcon' color='primary'>pan_tool</mat-icon>
        </div>
      </mat-card>
      <mat-list class="textList" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let point of texts, let i = index" cdkDrag>

          <mat-card class="box" matRipple>
            <div class='moveIcon' [style.background]="point.status === 'plus' ? '#736b9a' : '#fe5e78'" cdkDragHandle>
              <mat-icon class="icon" >swap_vert</mat-icon>
            </div>
            <div class='deleteIcon' (click)='remove(point)'>
              <mat-icon class="icon">clear</mat-icon>
            </div>
            <app-text-link [position]="{'index':i,length : texts.length}" [is]="point.status === 'plus'"
              [previousIs]='texts[i-1] ? texts[i-1].isgood : null' (value)='textLinkValueChange($event, i)'>
            </app-text-link>
            <div (click)='edit(point)' class='text' *ngIf='isnotEditing[i] ,else input'>{{point?.description}}</div>
            <ng-template #input>
              <mat-form-field class='fullInput' floatLabel="always">
                <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="50" matInput autoFocus (blur)='endEdit(point)'
                  [(ngModel)]="point.description"></textarea>
              </mat-form-field>
            </ng-template>

          </mat-card>
        </div>
      </mat-list>
      <mat-card *ngIf='end' class="box" matRipple (click)='editBorder(end.status)'>
        <div *ngIf="isnotEditingBorder[1] ,else inputEnd">{{end.description}}</div>
        <ng-template #inputEnd>
          <mat-form-field class='fullInput'>
            <textarea autoFocus (blur)='endEditBorder(end.status)' matInput [(ngModel)]="end.description"></textarea>
          </mat-form-field>
        </ng-template>
        <div class='moveIcon'>
          <mat-icon class='moveIcon' color='primary'>pan_tool</mat-icon>
        </div>
      </mat-card>
    </div>
    <div class='rowButton'>
      <button mat-fab color="primary" (click)='copyMessage()' matTooltip="copy into clipboard">
        <mat-icon>file_copy</mat-icon>
      </button>
      <button class='floating-button' mat-fab color="primary" [routerLink]="['/chooser']"
        routerLinkActive="router-link-active" matTooltip="change category">
        <mat-icon>swap_horiz</mat-icon>
      </button>
      <button class="floating-button" mat-fab color="primary" (click)="drawer.toggle()" matTooltip="Toogle menu">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>