.main-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
}

.fullInput {
  width: 100%;
}

.box {
  color: white;
  font-weight: bold;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: linear-gradient(0.25turn, #913b82, #704e81);
  font-size: 14px;
  margin: 10px;
  padding-left: 120px;
  z-index: 1;
  widows: 100%;
  opacity: 0.9;
}
.firstBox {
  margin: 10px 10px -8px 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.moveIcon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  cursor: move;
  color: white;
  padding: 13px;
}
.deleteIcon {
  position: absolute;
  left: 46px;
  top: 0;
  bottom: 0;
  cursor: pointer;
  color: white;
  padding: 13px;
  background-color: #f0077c;
}
.rowButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 20;
}

/* Control the left side */
.left {
  background: #483c6c;
  display: inline-flex;
  padding: 20px;
  opacity: 0.9;
  overflow-x: visible;
}
/* Control the right side */
.right {
  display: flex;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  background: transparent;
}

.header-card {
  color: #483c6c;
  background-color: #736b9a;
  font-weight: bold;
  padding-right: 80px;
}

.floating-button {
  margin-left: 5px;
}

.add-button {
  position: absolute;
  top: 0px;
  right: 0px;
}

.list {
  width: 100%;
  height: 100%;
}
.cancelButton {
  margin-left: 5px;
}

.space-checkbox {
  color: #00dfd4;
  overflow: visible;
}

.object_astronaut {
  animation: rotate-astronaut 200s infinite linear both alternate;
}
.textList {
  margin-top: 15px;
}
.box_astronaut {
  z-index: 1 !important;
  position: absolute;
  top: 60%;
  right: 20%;
  will-change: transform;
  animation: move-astronaut 50s infinite linear both alternate;
}
.text {
  margin: 0px 20px;
  flex: 1;
}
.icon {
 
  height: 100%;
  transform: translateY(30%);
}

@-moz-keyframes move-astronaut {
  100% {
    -moz-transform: translate(-160px, -160px);
  }
}
@-webkit-keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
  }
}
@keyframes move-astronaut {
  100% {
    -webkit-transform: translate(-160px, -160px);
    transform: translate(-160px, -160px);
  }
}
@-moz-keyframes rotate-astronaut {
  100% {
    -moz-transform: rotate(-720deg);
  }
}
@-webkit-keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
  }
}
@keyframes rotate-astronaut {
  100% {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}
