

.main-container {
    position: fixed;
    top :0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

  
  .box {
    color: #424242;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
    margin: 10px;
    z-index: 1;
    widows: 100%
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .box:last-child {
    border: none;
  }
  
  .list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .moveIcon {
   float: right;
   height: 60px;
   border-radius: 0 5px 5px 0;
   cursor: move;
  color:white;
  padding-top: 13px
  }

  .copy{
      position: fixed;
      left: 20px;
      bottom :20px;
      z-index: 1;
  }
  
/* Control the left side */
.left {
  display: inline-flex;
  padding: 20px;
 
}
/* Control the right side */
.right {
  display: flex;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  background-color: #607D8B;
}

.half{
  padding: 20px;
}

.header-card{
  color: white;
  background-color: #607D8B;
  font-size: 30px;
  font-weight: bold;
  padding-right: 80px;
  position: relative;
}

.floating-button{
  margin-left: 5px;
}

.add-button{
  position: absolute;
  top :0px;
  right: 0px;
}

.list{
  width: 100%;
  height: 100%;
}