<form class='form' [formGroup]="form">
  <mat-grid-list cols="1" rowHeight="90px">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>nom du post</mat-label>
        <input autofocus matInput formControlName='name' required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="text">
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-stroked-button color="primary" (click)="submitAdd()">Ajouter</button>
      <button class="cancelButton" mat-raised-button color="primary" (click)="cancelAdd()">Annuler</button>
    </mat-grid-tile>
  </mat-grid-list>
</form>