@import "./theme.scss";

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
}

.mat-drawer-container {
  background: transparent !important;
}
.mat-select-arrow {
  border-top: 5px solid white !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white !important;
}
.mat-select-value {
  color: white;
  font-weight: bold;
}

.mat-form-field-appearance-outline .mat-form-field-outline{
  color: #24e9d7;
}
.mat-form-field-label{
  color: #24e9d7 ;
}
.mat-form-field-label >>> span{
  color: #ff217c !important;
}
.mat-dialog-container{
  color: #24e9d7;
  background: transparent;
}

.mat-form-field-infix{
  min-width: 180px !important;
}

.mat-select-value {
 
  width: auto;
}  

body {
  overflow: hidden;
}
